<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Data Processor</title>
    @Styles.Render("~/Content/css")
</head>

<body>

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Data Processor", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul id="allMenuItems" class="nav navbar-nav">
                    <li id="uploadMenuItem" class="nav-item active">
                        <a id="uploadMenuLink" class="nav-link" href="@Url.Action("Index", "Home")">Upload</a>
                    </li>
                    <li id="historyMenuItem" class="nav-item">
                        <a id="historyMenuLink" class="nav-link" href="@Url.Action("Index", "History")">History</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="container body-content">
        @RenderBody()
        <hr />
        <section>
            <footer>
                <p>&copy; @DateTime.Now.Year - Data Processor</p>
            </footer>
        </section>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquerydatatables")

    <script type="text/javascript">
        (function (DataProcessingExperiment, $, undefined) {
            DataProcessingExperiment.getRootUrl = function () {
                var rootUrl = "@Request.ApplicationPath";
                if (rootUrl == "/") { rootUrl = ""; }
                return rootUrl;
            };
        }(window.DataProcessingExperiment = window.DataProcessingExperiment || {}, jQuery));
    </script>

    @Scripts.Render("~/bundles/website")
    @RenderSection("pageScripts", required: false)

</body>
</html>